html,body{
    @include _position(relative);
    z-index: 1;
    padding-bottom: rem(20);
}


main{
    @include _position(relative);
    width: calc(100% - #{$create-sidemenu-nav-width} - #{$gutter} * 2);
    left: $create-sidemenu-nav-width + $gutter;
    @include transition(all $timing $ease);
    background-color: $gray-100;
    margin: {
        top: $create-nav-height + $gutter;
    }
    border: 2px solid $gray-100 - 5;
    border-radius: 6px;
}


.side-nav{
    >ul{
        >li{
            a{
                border-bottom: none!important;
                padding: $gutter;
            }
            $i: -1;
            @each $color in $colors {
                &:nth-child(#{$i}) {
                    a{
                        border-left: rem(5) solid #{nth($color, 2)};

                        &:focus,
                        &:hover{
                            border-left-color: rgba(nth($color, 2), .5);
                            color: #{nth($color, 2)};
                            background-color: $white;
                        }
                    }
                }
                $i: $i+1;
            }
        }
    }
}

.table{
    thead, tbody, .thead, .tbody{
        tr, .tr{
            th, td, .th, .td{
                text-align: left;
                width: auto;

            }
        }
    }
    &.table-form{
        .thead, .tbody{
            .tr{
                .th, .td{

                }
            }
        }
    }
}



footer{
    height: 60px;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include _position(fixed);
    right: 0;
    bottom: 0;
    left: $create-sidemenu-nav-width;
    z-index: -1;

    @include transition(all $timing $ease);

    border-top: 2px solid $pink;
    background-color: $blue-gray-900;

    p{
        color: transparentize($white, .5);
        font-weight: 500;
        margin: 0;
        font-size: rem(16);
    }
}


.grid-layout{

    .column{
        p{
            font-weight: bold;
            color: $blue-gray-900;
            padding: rem(12);
            text-align: center;
            border-radius: 4px;
            background-color: $gray-100 - 75;
        }
    }
}


nav{
    &.main-nav{
        .container{
            padding-left: 0
        }
        ul{
            li{
                a{
                    font-size: rem(16);
                }
            }
        }
    }

    .brand{
        background-color: $gray-100 + 10;

        @include flex(0 0 auto);

        width: $create-sidemenu-nav-width;
        padding: 0;
        @include _position(relative);

        h3{
            color: $white!important;

            a{
                @include flexbox;
                @include justify-content(center);
                @include align-items(center);
                text-decoration: none!important;

                color: $blue-gray-900;

                @include _position(absolute);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                font-weight: 700;

                img{
                    height: 30px;
                    width: 30px;
                }
            }
        }

        a.open-menu{
            background-color: $white;
            color: $red;
            border: 2px solid rgba($black, .03);

            height: 50px;
            width: 50px;
            @include border-radius(50px);

            @include flexbox;
            @include justify-content(center);
            @include align-items(center);

            @include _position(absolute);
            top: 50%;
            right: -25px;
            @include translate(0, -50%);
        }
    }
}
