.no{
    &-margin{
        @include _margin(0!important);
    }

    &-padding{
        &-top{
            padding-top: 0!important;
        }
        &-bottom{
            padding-bottom: 0!important;
        }
    }
}

.ml-auto{
    margin: 0 auto!important;
}

@mixin create_margin($class, $bn, $col: $grid_columns){

    @for $i from 1 through $col {
        @if $i < 12 {
            .#{$class}-{
                &#{$bn}-#{$i}{
                    margin-left: 100%/$col * $i !important;
                }
            }
        }
    }
}

@if $create-margin-helper {

    @each $breakpoint_name, $breakpoint_size in $breakpoints {

        @if $breakpoint_size == 0{
            @include create_margin('ml', $breakpoint_name);
        } @else {
            @include media($breakpoint_name){
                @include create_margin('ml', $breakpoint_name);
            }
        }
    }
}
