// create [ LOACTIONS ]
$fonts_location:        '../fonts/';
$images_location:       '../images/';
$backgrounds_location:  '#{$images_location}backgrounds/';


// create [ SUFFIX AND PREFIX ]
$prefix:    '';
$suffix:    '';

// create [ GLOBALS ]
$gutter: 20px;
$margin: 20px;
$border-radius: 3px;


// create [ Z-INDEX ]
$main-nav-z-index: 2000;
$side-nav-z-index: 2000;
$dropup-z-index: 2100;


// create [ BREAKPOINTS ]
$breakpoints: (
        xs  :   0,
        sm  :   576px,
        md  :   768px,
        lg  :   992px,
        xl  :   1200px
) !default;

$maxbreakpoints: (
        xs  :   0,
        sm  :   575px,
        md  :   767px,
        lg  :   991px,
        xl  :   1199px
) !default;


// USED IN FUNCTIONS
// LOCATION: core/functions
$browser-context: 16;


// create [ COLORS ]
$white:          #FFFFFF;
$black:          #000000;
$red:            #F44336;
$pink:           #E91E63;
$purple:         #9C27B0;
$deep-purple:    #673AB7;
$indigo:         #3F51B5;
$blue:           #2196F3;
$light-blue:     #03A9F4;
$cyan:           #00BCD4;
$teal:           #009688;
$green:          #4CAF50;
$light-green:    #8BC34A;
$lime:           #CDDC39;
$yellow:         #FFEB3B;
$amber:          #FFC107;
$orange:         #FF9800;
$deep-orange:    #FF5722;
$brown:          #795548;
$gray-100:       #FAFAFA;
$gray:           #9E9E9E;
$gray-900:       #212121;
$blue-gray:      #607D8B;
$blue-gray-900:  #263238;

// create [ COLORS ARRAY ]
$colors: (
        "white"         $white,
        "black"         $black,
        "red"           $red,
        "pink"          $pink,
        "purple"        $purple,
        "deep-purple"   $deep-purple,
        "indigo"        $indigo,
        "blue"          $blue,
        "light-blue"    $light-blue,
        "cyan"          $cyan,
        "teal"          $teal,
        "green"         $green,
        "light-green"   $light-green,
        "lime"          $lime,
        "yellow"        $yellow,
        "amber"         $amber,
        "orange"        $orange,
        "deep-orange"   $deep-orange,
        "brown"         $brown,
        "gray-100"      $gray-100,
        "gray"          $gray,
        "gray-900"      $gray-900,
        "blue-gray"     $blue-gray,
        "blue-gray-900" $blue-gray-900
);

// create [ ANIMATIONS ]
$ease: ease;
$timing: .25s;

// create [ EXTERNAL FONTS ]
$default-font: 'Roboto', 'Segoe UI', 'San Francisco', 'Ubuntu', 'Arial', sans-serif;
$roboto: 'Roboto', sans-serif;

// crate [ FONTS ]
$create-fonts: true !default;
$fonts: false;


// create [ GRID ]
$create-grid-component: true !default;
$grid_container_name:   '.container';
$grid_row_name:         '.row';
$grid_column_name:      '.column';
$grid_columns:          12;
$grid_gutter:           $gutter;


// create [ MARGIN ]
$create-margin-helper: true !default;


// create [ TIPOGRAFIA ]
// create [ TIPOGRAFIA > HELPTEXT ]
$help-text: true !default;

// create [ NAVBAR ]
$create-nav-component:       true !default;
$create-nav-shadows:         true !default;
$create-nav-border-bottom:   true !default;
$create-nav-height:          80px;

// create [ ASIDE MENU ]
$create-sidemenu-nav-component:   true !default;
$create-sidemenu-nav-width:       270px;

// create [ INPUTS ]
$create-form-inputs: true !default;
$create-form-inputs-height: 34px;
$create-form-inputs-border-radius: $border-radius;

// create [ LABEL ]
$label-font-size: 12;


// create [ BUTTONS ]
$buttons: true !default;
$button-radius: $border-radius;
$buttons-shadows: true !default;


// create [ CARDS ]
$cards: true !default;
$card-border: 1px solid rgba($blue-gray-900, .25);
$card-padding: $gutter;
$card-radius: $border-radius;
$card-bg: $gray-100;
$card-text-transform: none;
$card-sizes: small regular big;
$card-header-text-position: center top bottom right left;


// create [ BREADCRUMB COMPONENT ]
$breadcrumb: true !default;
$breadcrumb-height: 30px;
$breadcrumb-bg: $gray-100 - 50;
$breadcrumb-bg-inverse: $blue-gray-900;
$breadcrumb-radius: $border-radius;
$breadcrumb-hover-color: $teal;


// create [ TABLE COMPONENT ]
$table: true !default;

$table-text-color: $blue-gray-900;
$table-background-color: $white;
$table-color-hover: $gray-100;
