@mixin create-cards{
  @include _position(relative);
  @include _margin(rem(15),0);
  background-color: $card-bg;
  border-radius: $card-radius;
  @include _overflow(hidden);
  border: $card-border;

  .card-body{
    @include _padding($card-padding);
    @include _position(relative);
    right: 0;

    background-color: $white;

    @include transition(right $timing $ease);

    figure{
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      margin-bottom: rem(16);
      img{
        display: block;
        max-width: 70%;
      }
      &[data-position="center"]{
        @include justify-content(center);
      }
      &[data-position="left"]{
        @include justify-content(flex-start);
      }
      &[data-position="right"]{
        @include justify-content(flex-end);
      }
    }
  }
  .card-footer{
    @include _padding($card-padding/2, $card-padding);
    @include _margin(0);
  }
}

@mixin create-card-header{
  @include _position(relative);
  @include _padding($card-padding);
  border-top-right-radius: $card-radius;
  border-top-left-radius: $card-radius;
  margin: -1px;

  right: 0;

  @include transition(right $timing $ease);


  &[data-background="true"]{
    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
  }

  @each $color in $colors{
    &[data-background="#{nth($color, 1)}"],
    &.bg-#{nth($color, 1)}{
      background-color: #{nth($color, 2)};
      border-color: darken(nth($color, 2), 15%);
    }
  }

  $i: 100px;

  @each $card-size in $card-sizes{

    &[data-size="#{$card-size}"]{

      height: $i;
    }

    $i: $i + $i;
  }

  @each $text-position in $card-header-text-position{

    &[data-text-position="#{$text-position}"]{
      $x: $text-position;
      @extend %flexbox;
      @if $x == top or $x == bottom{
        @include align-items(#{$x});
      }
      @if $x == left or $x == right{
        @include justify-content(#{$x});
      }
      @if $x == center {
        @include align-items(#{$x});
        @include justify-content(#{$x});
      }
    }
  }


  &[data-background],
  &[class*="bg-"]{
    color: $white;
  }

  .card-title{
    margin: 0;
    text-transform: $card-text-transform;
  }
}

@mixin create-card-options{
  .card-menu{
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
  }

  .card-options{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: $white;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);

    @include transition(right $timing $ease $timing/2);

    @each $color in $colors{
      &[data-background="#{nth($color, 1)}"],
      &.bg-#{nth($color, 1)}{
        background-color: #{nth($color, 2)};
        border-color: darken(nth($color, 2), 15%);
      }
    }

    ul{
      height: 100%;
      width: 100%;
      list-style: none;
      overflow: auto;

      li{
        width: 100%;
        border-bottom: 1px solid rgba($white, .1);
        a{
          @include _padding($gutter, $gutter / 2);
          display: block;
          text-align: center;
          width: 100%;
          background-color: rgba($white, .05);
          font-size: rem(16);
          color: $white;
          text-decoration: none!important;

          @include transition(all $timing $ease);

          @include _hover{
            background-color: rgba($white, .1);
          }
        }

        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}

@if $cards{
  .card{
    @include create-cards;
    @include create-card-options;

    .card-header{
      @include create-card-header;
    }

    &.active{
      .card-header,
      .card-body{
        right: 50%;
      }
    }
  }
}
