// NAV - Component

@if $create-nav-component{
  nav{
    @include _position;
    z-index: $main-nav-z-index;

    &.fixed-top,
    &.fixed-bottom{
      left: 0;
      right: 0;
      @include _position(fixed);
    }

    &.fixed-top{
      top: 0!important;
    }
    &.fixed-bottom{
      bottom: 0!important;
    }

    &.main-nav{
      height: $create-nav-height;
      @include flexbox;
      border-radius: 0;
      margin-bottom: $margin;

      .container{
        @include flexbox;

        @include media('md', 'max'){
          width: 100%;
        }
      }

      ul{
        @include flexbox;
        @include flex-direction(column);
        list-style: none;
        width: 100%;

        height: $create-nav-height;

        &.flex{
            &-start{
                @include justify-content(flex-start);
            }
            &-center{
                @include justify-content(center);
            }
            &-end{
              @include justify-content(flex-end);
            }
        }



        li{
          width: 100%;
          a{
            color: $white;
            text-decoration: none!important;
            height: $create-nav-height;
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            @include _padding(0, $gutter);
            font-size: rem(12);
          }
        }
      }
    }

    .brand{
      height: $create-nav-height;

      @include flexbox;
      @include justify-content(center);
      @include align-items(center);

      text-decoration: none;
      color: $white;

      padding: {
        left: $gutter;
        right: $gutter;
      }
    }

    @each $color in $colors {
      &.#{nth($color, 1)} {
        background-color: #{nth($color, 2)};
        @if $create-nav-border-bottom{
          border-bottom: 1px solid darken(nth($color, 2), 5%);
        }
      }
    }

    @if $create-nav-shadows {
      @include box-shadow(0 rem(2) rem(8) rgba($black, .35));
    }


    @include media('sm'){
      &.main-nav{
        ul{
          @include flex-direction(row);
          @include flex-grow(1);
          li{
            width: auto;
            height: $create-nav-height;
          }
        }
      }
    }
  }
}


// create [ ASIDE MENU ]
@if $create-sidemenu-nav-component{
    .side-nav{
      height: calc(100vh - #{$create-nav-height});
      @include _position(fixed);
      left: -$create-sidemenu-nav-width;
      width: $create-sidemenu-nav-width;
      @include _overflow(hidden, auto);
      top: $create-nav-height;

      @include transition(all $timing $ease);

      &.active{
        left: 0;
      }

      >ul{
        list-style: none;
        @include _overflow();
        li{
          a{
            @include _padding($gutter/1.5, $gutter);
            @include flexbox;
            @include justify-content(flex-start);
            @include align-items(center);

            font-size: rem(12);
            color: $white;
            text-decoration: none!important;

            @include transition(all $timing ease);

            &:focus, &:hover{
              background-color: rgba($white, .15);
            }

            &.centered{
              @include justify-content(center);
            }
            &.end{
              @include justify-content(flex-end);
            }

            i,label,span,svg{
              margin-right: $gutter/2;
            }
          }

          >ul{
            width: $create-sidemenu-nav-width;
            list-style: none;
            @include _overflow(hidden, auto);

            @include _position(absolute);
            top: 0;
            left: -$create-sidemenu-nav-width;
            right: 0;
            bottom: 0;
            @include transition(all $timing $ease);

            &.active{
              left: 0;
            }
          }
        }
      }
  }
}

@if $create-nav-component or $create-sidemenu-nav-component{
  nav.main-nav, .side-nav, .side-nav ul{
    @each $color in $colors {
      &.bg-#{nth($color, 1)} {
        background-color: #{nth($color, 2)};

        @if $create-nav-border-bottom{
          border-bottom: 1px solid darken(nth($color, 2), 5%);
        }
      }
    }
  }
}
