.container,
.row {
    @extend %clearfix;
}

.row{
    @include _margin(0, -$grid_gutter);
}


.container{
    width: 100%;
    @include _margin(0, auto);
    @include _padding(0, $gutter);

    @each $breakpoint_name, $breakpoint_size in $breakpoints {

        @if $breakpoint_size > 0{
            @include media( $breakpoint_name ){
                max-width: $breakpoint_size - ( $grid_gutter * 2 );
            }
        }
    }

    &.fluid{
        max-width: 100%;
        width: 100%;
    }
}


%grid-column {
    position:       relative;
    width:          100%;
    min-height:     1px;
    float:          left;
    padding: {
        left:         $grid_gutter;
        right:        $grid_gutter;
    }
}

@mixin create_grid($breakpoint_name, $columns: $grid_columns){

    @for $i from 1 through $columns {
        #{$grid_column_name}{
            &.#{$breakpoint_name}-#{$i}{
                max-width: 100%/$columns * $i;
            }
        }
    }
}

@if $create-grid-component {

    @each $breakpoint_name, $breakpoint_size in $breakpoints {

        @for $i from 1 through $grid_columns {
            .column{
                &.#{$breakpoint_name}-#{$i}{
                    @extend %grid-column;
                }
            }
        }

        @if $breakpoint_size == 0{
            @include create_grid($breakpoint_name);
        } @else {
            @include media($breakpoint_name){
                @include create_grid($breakpoint_name);
            }
        }
    }
}
