.card .card-header[data-text-position="center"], .card .card-header[data-text-position="top"], .card .card-header[data-text-position="bottom"], .card .card-header[data-text-position="right"], .card .card-header[data-text-position="left"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.container,
.row, .buttons {
  *zoom: 1;
}
.container:before,
.row:before, .buttons:before, .container:after,
.row:after, .buttons:after {
  content: " ";
  display: table;
}
.container:after,
.row:after, .buttons:after {
  clear: both;
}

.no-margin {
  margin: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}

.ml-auto {
  margin: 0 auto !important;
}

.ml-xs-1 {
  margin-left: 8.33333% !important;
}

.ml-xs-2 {
  margin-left: 16.66667% !important;
}

.ml-xs-3 {
  margin-left: 25% !important;
}

.ml-xs-4 {
  margin-left: 33.33333% !important;
}

.ml-xs-5 {
  margin-left: 41.66667% !important;
}

.ml-xs-6 {
  margin-left: 50% !important;
}

.ml-xs-7 {
  margin-left: 58.33333% !important;
}

.ml-xs-8 {
  margin-left: 66.66667% !important;
}

.ml-xs-9 {
  margin-left: 75% !important;
}

.ml-xs-10 {
  margin-left: 83.33333% !important;
}

.ml-xs-11 {
  margin-left: 91.66667% !important;
}

@media only screen and (min-width: 576px) {
  .ml-sm-1 {
    margin-left: 8.33333% !important;
  }

  .ml-sm-2 {
    margin-left: 16.66667% !important;
  }

  .ml-sm-3 {
    margin-left: 25% !important;
  }

  .ml-sm-4 {
    margin-left: 33.33333% !important;
  }

  .ml-sm-5 {
    margin-left: 41.66667% !important;
  }

  .ml-sm-6 {
    margin-left: 50% !important;
  }

  .ml-sm-7 {
    margin-left: 58.33333% !important;
  }

  .ml-sm-8 {
    margin-left: 66.66667% !important;
  }

  .ml-sm-9 {
    margin-left: 75% !important;
  }

  .ml-sm-10 {
    margin-left: 83.33333% !important;
  }

  .ml-sm-11 {
    margin-left: 91.66667% !important;
  }
}
@media only screen and (min-width: 768px) {
  .ml-md-1 {
    margin-left: 8.33333% !important;
  }

  .ml-md-2 {
    margin-left: 16.66667% !important;
  }

  .ml-md-3 {
    margin-left: 25% !important;
  }

  .ml-md-4 {
    margin-left: 33.33333% !important;
  }

  .ml-md-5 {
    margin-left: 41.66667% !important;
  }

  .ml-md-6 {
    margin-left: 50% !important;
  }

  .ml-md-7 {
    margin-left: 58.33333% !important;
  }

  .ml-md-8 {
    margin-left: 66.66667% !important;
  }

  .ml-md-9 {
    margin-left: 75% !important;
  }

  .ml-md-10 {
    margin-left: 83.33333% !important;
  }

  .ml-md-11 {
    margin-left: 91.66667% !important;
  }
}
@media only screen and (min-width: 992px) {
  .ml-lg-1 {
    margin-left: 8.33333% !important;
  }

  .ml-lg-2 {
    margin-left: 16.66667% !important;
  }

  .ml-lg-3 {
    margin-left: 25% !important;
  }

  .ml-lg-4 {
    margin-left: 33.33333% !important;
  }

  .ml-lg-5 {
    margin-left: 41.66667% !important;
  }

  .ml-lg-6 {
    margin-left: 50% !important;
  }

  .ml-lg-7 {
    margin-left: 58.33333% !important;
  }

  .ml-lg-8 {
    margin-left: 66.66667% !important;
  }

  .ml-lg-9 {
    margin-left: 75% !important;
  }

  .ml-lg-10 {
    margin-left: 83.33333% !important;
  }

  .ml-lg-11 {
    margin-left: 91.66667% !important;
  }
}
@media only screen and (min-width: 1200px) {
  .ml-xl-1 {
    margin-left: 8.33333% !important;
  }

  .ml-xl-2 {
    margin-left: 16.66667% !important;
  }

  .ml-xl-3 {
    margin-left: 25% !important;
  }

  .ml-xl-4 {
    margin-left: 33.33333% !important;
  }

  .ml-xl-5 {
    margin-left: 41.66667% !important;
  }

  .ml-xl-6 {
    margin-left: 50% !important;
  }

  .ml-xl-7 {
    margin-left: 58.33333% !important;
  }

  .ml-xl-8 {
    margin-left: 66.66667% !important;
  }

  .ml-xl-9 {
    margin-left: 75% !important;
  }

  .ml-xl-10 {
    margin-left: 83.33333% !important;
  }

  .ml-xl-11 {
    margin-left: 91.66667% !important;
  }
}
@font-face {
  font-family: "false";
  src: url("../fonts/false.eot");
  src: url("../fonts/false.eot?#iefix") format("embedded-opentype"), url("../fonts/false.woff2") format("woff2"), url("../fonts/false.woff") format("woff"), url("../fonts/false.ttf") format("truetype"), url("../fonts/false.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Segoe UI", "San Francisco", "Ubuntu", "Arial", sans-serif;
  font-size: 14px;
}

.row {
  margin: 0 -20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 0;
}
@media only screen and (min-width: 576px) {
  .container {
    max-width: 536px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 728px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 952px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
.container.fluid {
  max-width: 100%;
  width: 100%;
}

.column.xs-1, .column.xs-2, .column.xs-3, .column.xs-4, .column.xs-5, .column.xs-6, .column.xs-7, .column.xs-8, .column.xs-9, .column.xs-10, .column.xs-11, .column.xs-12, .column.sm-1, .column.sm-2, .column.sm-3, .column.sm-4, .column.sm-5, .column.sm-6, .column.sm-7, .column.sm-8, .column.sm-9, .column.sm-10, .column.sm-11, .column.sm-12, .column.md-1, .column.md-2, .column.md-3, .column.md-4, .column.md-5, .column.md-6, .column.md-7, .column.md-8, .column.md-9, .column.md-10, .column.md-11, .column.md-12, .column.lg-1, .column.lg-2, .column.lg-3, .column.lg-4, .column.lg-5, .column.lg-6, .column.lg-7, .column.lg-8, .column.lg-9, .column.lg-10, .column.lg-11, .column.lg-12, .column.xl-1, .column.xl-2, .column.xl-3, .column.xl-4, .column.xl-5, .column.xl-6, .column.xl-7, .column.xl-8, .column.xl-9, .column.xl-10, .column.xl-11, .column.xl-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.column.xs-1 {
  max-width: 8.33333%;
}

.column.xs-2 {
  max-width: 16.66667%;
}

.column.xs-3 {
  max-width: 25%;
}

.column.xs-4 {
  max-width: 33.33333%;
}

.column.xs-5 {
  max-width: 41.66667%;
}

.column.xs-6 {
  max-width: 50%;
}

.column.xs-7 {
  max-width: 58.33333%;
}

.column.xs-8 {
  max-width: 66.66667%;
}

.column.xs-9 {
  max-width: 75%;
}

.column.xs-10 {
  max-width: 83.33333%;
}

.column.xs-11 {
  max-width: 91.66667%;
}

.column.xs-12 {
  max-width: 100%;
}

@media only screen and (min-width: 576px) {
  .column.sm-1 {
    max-width: 8.33333%;
  }

  .column.sm-2 {
    max-width: 16.66667%;
  }

  .column.sm-3 {
    max-width: 25%;
  }

  .column.sm-4 {
    max-width: 33.33333%;
  }

  .column.sm-5 {
    max-width: 41.66667%;
  }

  .column.sm-6 {
    max-width: 50%;
  }

  .column.sm-7 {
    max-width: 58.33333%;
  }

  .column.sm-8 {
    max-width: 66.66667%;
  }

  .column.sm-9 {
    max-width: 75%;
  }

  .column.sm-10 {
    max-width: 83.33333%;
  }

  .column.sm-11 {
    max-width: 91.66667%;
  }

  .column.sm-12 {
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .column.md-1 {
    max-width: 8.33333%;
  }

  .column.md-2 {
    max-width: 16.66667%;
  }

  .column.md-3 {
    max-width: 25%;
  }

  .column.md-4 {
    max-width: 33.33333%;
  }

  .column.md-5 {
    max-width: 41.66667%;
  }

  .column.md-6 {
    max-width: 50%;
  }

  .column.md-7 {
    max-width: 58.33333%;
  }

  .column.md-8 {
    max-width: 66.66667%;
  }

  .column.md-9 {
    max-width: 75%;
  }

  .column.md-10 {
    max-width: 83.33333%;
  }

  .column.md-11 {
    max-width: 91.66667%;
  }

  .column.md-12 {
    max-width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .column.lg-1 {
    max-width: 8.33333%;
  }

  .column.lg-2 {
    max-width: 16.66667%;
  }

  .column.lg-3 {
    max-width: 25%;
  }

  .column.lg-4 {
    max-width: 33.33333%;
  }

  .column.lg-5 {
    max-width: 41.66667%;
  }

  .column.lg-6 {
    max-width: 50%;
  }

  .column.lg-7 {
    max-width: 58.33333%;
  }

  .column.lg-8 {
    max-width: 66.66667%;
  }

  .column.lg-9 {
    max-width: 75%;
  }

  .column.lg-10 {
    max-width: 83.33333%;
  }

  .column.lg-11 {
    max-width: 91.66667%;
  }

  .column.lg-12 {
    max-width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .column.xl-1 {
    max-width: 8.33333%;
  }

  .column.xl-2 {
    max-width: 16.66667%;
  }

  .column.xl-3 {
    max-width: 25%;
  }

  .column.xl-4 {
    max-width: 33.33333%;
  }

  .column.xl-5 {
    max-width: 41.66667%;
  }

  .column.xl-6 {
    max-width: 50%;
  }

  .column.xl-7 {
    max-width: 58.33333%;
  }

  .column.xl-8 {
    max-width: 66.66667%;
  }

  .column.xl-9 {
    max-width: 75%;
  }

  .column.xl-10 {
    max-width: 83.33333%;
  }

  .column.xl-11 {
    max-width: 91.66667%;
  }

  .column.xl-12 {
    max-width: 100%;
  }
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, span {
  font-weight: 400;
}
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, p small, span small {
  font-size: 70%;
}
h1 strong, .h1 strong, h2 strong, .h2 strong, h3 strong, .h3 strong, h4 strong, .h4 strong, h5 strong, .h5 strong, h6 strong, .h6 strong, p strong, span strong {
  font-weight: 600;
}
h1 u, .h1 u, h2 u, .h2 u, h3 u, .h3 u, h4 u, .h4 u, h5 u, .h5 u, h6 u, .h6 u, p u, span u {
  text-decoration: underline;
}
h1.white, .h1.white, h2.white, .h2.white, h3.white, .h3.white, h4.white, .h4.white, h5.white, .h5.white, h6.white, .h6.white, p.white, span.white {
  color: #FFFFFF!important;
}
h1.black, .h1.black, h2.black, .h2.black, h3.black, .h3.black, h4.black, .h4.black, h5.black, .h5.black, h6.black, .h6.black, p.black, span.black {
  color: #000000!important;
}
h1.red, .h1.red, h2.red, .h2.red, h3.red, .h3.red, h4.red, .h4.red, h5.red, .h5.red, h6.red, .h6.red, p.red, span.red {
  color: #F44336!important;
}
h1.pink, .h1.pink, h2.pink, .h2.pink, h3.pink, .h3.pink, h4.pink, .h4.pink, h5.pink, .h5.pink, h6.pink, .h6.pink, p.pink, span.pink {
  color: #E91E63!important;
}
h1.purple, .h1.purple, h2.purple, .h2.purple, h3.purple, .h3.purple, h4.purple, .h4.purple, h5.purple, .h5.purple, h6.purple, .h6.purple, p.purple, span.purple {
  color: #9C27B0!important;
}
h1.deep-purple, .h1.deep-purple, h2.deep-purple, .h2.deep-purple, h3.deep-purple, .h3.deep-purple, h4.deep-purple, .h4.deep-purple, h5.deep-purple, .h5.deep-purple, h6.deep-purple, .h6.deep-purple, p.deep-purple, span.deep-purple {
  color: #673AB7!important;
}
h1.indigo, .h1.indigo, h2.indigo, .h2.indigo, h3.indigo, .h3.indigo, h4.indigo, .h4.indigo, h5.indigo, .h5.indigo, h6.indigo, .h6.indigo, p.indigo, span.indigo {
  color: #3F51B5!important;
}
h1.blue, .h1.blue, h2.blue, .h2.blue, h3.blue, .h3.blue, h4.blue, .h4.blue, h5.blue, .h5.blue, h6.blue, .h6.blue, p.blue, span.blue {
  color: #2196F3!important;
}
h1.light-blue, .h1.light-blue, h2.light-blue, .h2.light-blue, h3.light-blue, .h3.light-blue, h4.light-blue, .h4.light-blue, h5.light-blue, .h5.light-blue, h6.light-blue, .h6.light-blue, p.light-blue, span.light-blue {
  color: #03A9F4!important;
}
h1.cyan, .h1.cyan, h2.cyan, .h2.cyan, h3.cyan, .h3.cyan, h4.cyan, .h4.cyan, h5.cyan, .h5.cyan, h6.cyan, .h6.cyan, p.cyan, span.cyan {
  color: #00BCD4!important;
}
h1.teal, .h1.teal, h2.teal, .h2.teal, h3.teal, .h3.teal, h4.teal, .h4.teal, h5.teal, .h5.teal, h6.teal, .h6.teal, p.teal, span.teal {
  color: #009688!important;
}
h1.green, .h1.green, h2.green, .h2.green, h3.green, .h3.green, h4.green, .h4.green, h5.green, .h5.green, h6.green, .h6.green, p.green, span.green {
  color: #4CAF50!important;
}
h1.light-green, .h1.light-green, h2.light-green, .h2.light-green, h3.light-green, .h3.light-green, h4.light-green, .h4.light-green, h5.light-green, .h5.light-green, h6.light-green, .h6.light-green, p.light-green, span.light-green {
  color: #8BC34A!important;
}
h1.lime, .h1.lime, h2.lime, .h2.lime, h3.lime, .h3.lime, h4.lime, .h4.lime, h5.lime, .h5.lime, h6.lime, .h6.lime, p.lime, span.lime {
  color: #CDDC39!important;
}
h1.yellow, .h1.yellow, h2.yellow, .h2.yellow, h3.yellow, .h3.yellow, h4.yellow, .h4.yellow, h5.yellow, .h5.yellow, h6.yellow, .h6.yellow, p.yellow, span.yellow {
  color: #FFEB3B!important;
}
h1.amber, .h1.amber, h2.amber, .h2.amber, h3.amber, .h3.amber, h4.amber, .h4.amber, h5.amber, .h5.amber, h6.amber, .h6.amber, p.amber, span.amber {
  color: #FFC107!important;
}
h1.orange, .h1.orange, h2.orange, .h2.orange, h3.orange, .h3.orange, h4.orange, .h4.orange, h5.orange, .h5.orange, h6.orange, .h6.orange, p.orange, span.orange {
  color: #FF9800!important;
}
h1.deep-orange, .h1.deep-orange, h2.deep-orange, .h2.deep-orange, h3.deep-orange, .h3.deep-orange, h4.deep-orange, .h4.deep-orange, h5.deep-orange, .h5.deep-orange, h6.deep-orange, .h6.deep-orange, p.deep-orange, span.deep-orange {
  color: #FF5722!important;
}
h1.brown, .h1.brown, h2.brown, .h2.brown, h3.brown, .h3.brown, h4.brown, .h4.brown, h5.brown, .h5.brown, h6.brown, .h6.brown, p.brown, span.brown {
  color: #795548!important;
}
h1.gray-100, .h1.gray-100, h2.gray-100, .h2.gray-100, h3.gray-100, .h3.gray-100, h4.gray-100, .h4.gray-100, h5.gray-100, .h5.gray-100, h6.gray-100, .h6.gray-100, p.gray-100, span.gray-100 {
  color: #FAFAFA!important;
}
h1.gray, .h1.gray, h2.gray, .h2.gray, h3.gray, .h3.gray, h4.gray, .h4.gray, h5.gray, .h5.gray, h6.gray, .h6.gray, p.gray, span.gray {
  color: #9E9E9E!important;
}
h1.gray-900, .h1.gray-900, h2.gray-900, .h2.gray-900, h3.gray-900, .h3.gray-900, h4.gray-900, .h4.gray-900, h5.gray-900, .h5.gray-900, h6.gray-900, .h6.gray-900, p.gray-900, span.gray-900 {
  color: #212121!important;
}
h1.blue-gray, .h1.blue-gray, h2.blue-gray, .h2.blue-gray, h3.blue-gray, .h3.blue-gray, h4.blue-gray, .h4.blue-gray, h5.blue-gray, .h5.blue-gray, h6.blue-gray, .h6.blue-gray, p.blue-gray, span.blue-gray {
  color: #607D8B!important;
}
h1.blue-gray-900, .h1.blue-gray-900, h2.blue-gray-900, .h2.blue-gray-900, h3.blue-gray-900, .h3.blue-gray-900, h4.blue-gray-900, .h4.blue-gray-900, h5.blue-gray-900, .h5.blue-gray-900, h6.blue-gray-900, .h6.blue-gray-900, p.blue-gray-900, span.blue-gray-900 {
  color: #263238!important;
}

h1, .h1 {
  font-size: 2rem;
  margin: 0.9375rem 0;
}

h2, .h2 {
  font-size: 1.75rem;
  margin: 0.875rem 0;
}

h3, .h3 {
  font-size: 1.5625rem;
  margin: 0.8125rem 0;
}

h4, .h4 {
  font-size: 1.375rem;
  margin: 0.75rem 0;
}

h5, .h5 {
  font-size: 1.125rem;
  margin: 0.6875rem 0;
}

h6, .h6 {
  font-size: 1rem;
  margin: 0.625rem 0;
}

p {
  font-size: 0.875rem;
  line-height: 130%;
  margin: 0 0 0.9375rem;
}

label {
  font-size: 0.75rem;
  font-weight: bold;
}

hr {
  background: #9E9E9E;
  height: 1px;
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin: 1.25rem auto;
  border: none;
}

code {
  background-color: #c7c7c7;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  padding: 0.1875rem 0.1875rem 0.3125rem;
  border-radius: 3px;
  display: inline-block;
  line-height: normal;
  font-family: monospace;
  font-size: 0.6875rem;
  margin-top: 1.25rem;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-camelcase {
  text-transform: capitalize;
}

.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

nav {
  position: static;
  z-index: 2000;
  -webkit-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.35);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.35);
}
nav.fixed-top, nav.fixed-bottom {
  left: 0;
  right: 0;
  position: fixed;
}
nav.fixed-top {
  top: 0 !important;
}
nav.fixed-bottom {
  bottom: 0 !important;
}
nav.main-nav {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0;
  margin-bottom: 20px;
}
nav.main-nav .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 768px) {
  nav.main-nav .container {
    width: 100%;
  }
}
nav.main-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 80px;
}
nav.main-nav ul.flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}
nav.main-nav ul.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
nav.main-nav ul.flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
nav.main-nav ul li {
  width: 100%;
}
nav.main-nav ul li a {
  color: #FFFFFF;
  text-decoration: none !important;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 0 20px 0;
  font-size: 0.75rem;
}
nav .brand {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
}
nav.white {
  background-color: #FFFFFF;
  border-bottom: 1px solid #f2f2f2;
}
nav.black {
  background-color: #000000;
  border-bottom: 1px solid black;
}
nav.red {
  background-color: #F44336;
  border-bottom: 1px solid #f32c1e;
}
nav.pink {
  background-color: #E91E63;
  border-bottom: 1px solid #d81557;
}
nav.purple {
  background-color: #9C27B0;
  border-bottom: 1px solid #89229b;
}
nav.deep-purple {
  background-color: #673AB7;
  border-bottom: 1px solid #5c34a4;
}
nav.indigo {
  background-color: #3F51B5;
  border-bottom: 1px solid #3849a2;
}
nav.blue {
  background-color: #2196F3;
  border-bottom: 1px solid #0d8aee;
}
nav.light-blue {
  background-color: #03A9F4;
  border-bottom: 1px solid #0398db;
}
nav.cyan {
  background-color: #00BCD4;
  border-bottom: 1px solid #00a5bb;
}
nav.teal {
  background-color: #009688;
  border-bottom: 1px solid #007d71;
}
nav.green {
  background-color: #4CAF50;
  border-bottom: 1px solid #449d48;
}
nav.light-green {
  background-color: #8BC34A;
  border-bottom: 1px solid #7eb73d;
}
nav.lime {
  background-color: #CDDC39;
  border-bottom: 1px solid #c6d626;
}
nav.yellow {
  background-color: #FFEB3B;
  border-bottom: 1px solid #ffe821;
}
nav.amber {
  background-color: #FFC107;
  border-bottom: 1px solid #ecb100;
}
nav.orange {
  background-color: #FF9800;
  border-bottom: 1px solid #e68900;
}
nav.deep-orange {
  background-color: #FF5722;
  border-bottom: 1px solid #ff4408;
}
nav.brown {
  background-color: #795548;
  border-bottom: 1px solid #694a3e;
}
nav.gray-100 {
  background-color: #FAFAFA;
  border-bottom: 1px solid #ededed;
}
nav.gray {
  background-color: #9E9E9E;
  border-bottom: 1px solid #919191;
}
nav.gray-900 {
  background-color: #212121;
  border-bottom: 1px solid #141414;
}
nav.blue-gray {
  background-color: #607D8B;
  border-bottom: 1px solid #566f7c;
}
nav.blue-gray-900 {
  background-color: #263238;
  border-bottom: 1px solid #1c2429;
}
@media only screen and (min-width: 576px) {
  nav.main-nav ul {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  nav.main-nav ul li {
    width: auto;
    height: 80px;
  }
}

.side-nav {
  height: calc(100vh - 80px);
  position: fixed;
  left: -270px;
  width: 270px;
  overflow-x: hidden;
  overflow-y: auto;
  top: 80px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.side-nav.active {
  left: 0;
}
.side-nav > ul {
  list-style: none;
  overflow: hidden;
}
.side-nav > ul li a {
  padding: 13.33333px 20px 13.33333px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  font-size: 0.75rem;
  color: #FFFFFF;
  text-decoration: none !important;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.side-nav > ul li a:focus, .side-nav > ul li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.side-nav > ul li a.centered {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.side-nav > ul li a.end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.side-nav > ul li a i, .side-nav > ul li a label, .side-nav > ul li a span, .side-nav > ul li a svg {
  margin-right: 10px;
}
.side-nav > ul li > ul {
  width: 270px;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: -270px;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.side-nav > ul li > ul.active {
  left: 0;
}

nav.main-nav.bg-white, .side-nav.bg-white, .side-nav ul.bg-white {
  background-color: #FFFFFF;
  border-bottom: 1px solid #f2f2f2;
}
nav.main-nav.bg-black, .side-nav.bg-black, .side-nav ul.bg-black {
  background-color: #000000;
  border-bottom: 1px solid black;
}
nav.main-nav.bg-red, .side-nav.bg-red, .side-nav ul.bg-red {
  background-color: #F44336;
  border-bottom: 1px solid #f32c1e;
}
nav.main-nav.bg-pink, .side-nav.bg-pink, .side-nav ul.bg-pink {
  background-color: #E91E63;
  border-bottom: 1px solid #d81557;
}
nav.main-nav.bg-purple, .side-nav.bg-purple, .side-nav ul.bg-purple {
  background-color: #9C27B0;
  border-bottom: 1px solid #89229b;
}
nav.main-nav.bg-deep-purple, .side-nav.bg-deep-purple, .side-nav ul.bg-deep-purple {
  background-color: #673AB7;
  border-bottom: 1px solid #5c34a4;
}
nav.main-nav.bg-indigo, .side-nav.bg-indigo, .side-nav ul.bg-indigo {
  background-color: #3F51B5;
  border-bottom: 1px solid #3849a2;
}
nav.main-nav.bg-blue, .side-nav.bg-blue, .side-nav ul.bg-blue {
  background-color: #2196F3;
  border-bottom: 1px solid #0d8aee;
}
nav.main-nav.bg-light-blue, .side-nav.bg-light-blue, .side-nav ul.bg-light-blue {
  background-color: #03A9F4;
  border-bottom: 1px solid #0398db;
}
nav.main-nav.bg-cyan, .side-nav.bg-cyan, .side-nav ul.bg-cyan {
  background-color: #00BCD4;
  border-bottom: 1px solid #00a5bb;
}
nav.main-nav.bg-teal, .side-nav.bg-teal, .side-nav ul.bg-teal {
  background-color: #009688;
  border-bottom: 1px solid #007d71;
}
nav.main-nav.bg-green, .side-nav.bg-green, .side-nav ul.bg-green {
  background-color: #4CAF50;
  border-bottom: 1px solid #449d48;
}
nav.main-nav.bg-light-green, .side-nav.bg-light-green, .side-nav ul.bg-light-green {
  background-color: #8BC34A;
  border-bottom: 1px solid #7eb73d;
}
nav.main-nav.bg-lime, .side-nav.bg-lime, .side-nav ul.bg-lime {
  background-color: #CDDC39;
  border-bottom: 1px solid #c6d626;
}
nav.main-nav.bg-yellow, .side-nav.bg-yellow, .side-nav ul.bg-yellow {
  background-color: #FFEB3B;
  border-bottom: 1px solid #ffe821;
}
nav.main-nav.bg-amber, .side-nav.bg-amber, .side-nav ul.bg-amber {
  background-color: #FFC107;
  border-bottom: 1px solid #ecb100;
}
nav.main-nav.bg-orange, .side-nav.bg-orange, .side-nav ul.bg-orange {
  background-color: #FF9800;
  border-bottom: 1px solid #e68900;
}
nav.main-nav.bg-deep-orange, .side-nav.bg-deep-orange, .side-nav ul.bg-deep-orange {
  background-color: #FF5722;
  border-bottom: 1px solid #ff4408;
}
nav.main-nav.bg-brown, .side-nav.bg-brown, .side-nav ul.bg-brown {
  background-color: #795548;
  border-bottom: 1px solid #694a3e;
}
nav.main-nav.bg-gray-100, .side-nav.bg-gray-100, .side-nav ul.bg-gray-100 {
  background-color: #FAFAFA;
  border-bottom: 1px solid #ededed;
}
nav.main-nav.bg-gray, .side-nav.bg-gray, .side-nav ul.bg-gray {
  background-color: #9E9E9E;
  border-bottom: 1px solid #919191;
}
nav.main-nav.bg-gray-900, .side-nav.bg-gray-900, .side-nav ul.bg-gray-900 {
  background-color: #212121;
  border-bottom: 1px solid #141414;
}
nav.main-nav.bg-blue-gray, .side-nav.bg-blue-gray, .side-nav ul.bg-blue-gray {
  background-color: #607D8B;
  border-bottom: 1px solid #566f7c;
}
nav.main-nav.bg-blue-gray-900, .side-nav.bg-blue-gray-900, .side-nav ul.bg-blue-gray-900 {
  background-color: #263238;
  border-bottom: 1px solid #1c2429;
}

button,
.button {
  display: inline-block;
  padding: 0.5rem 0.75rem 0.5rem;
  border-radius: 3px;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  cursor: pointer;
  outline: none !important;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: none;
  color: #000000;
  text-decoration: none !important;
  line-height: 1.5;
  text-align: center;
  min-width: 5rem;
  margin-bottom: 0.3125rem;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
button:focus, button:hover,
.button:focus,
.button:hover {
  z-index: 1;
}
button[data-size="small"],
.button[data-size="small"] {
  font-size: 0.6875rem;
  padding: 0.25rem 0.375rem 0.25rem;
  min-width: 2.1875rem;
}
button[data-size="large"],
.button[data-size="large"] {
  font-size: 1rem;
  padding: 0.75rem 1rem 0.75rem;
}
button.white,
.button.white {
  background-color: #FFFFFF;
  color: #FFFFFF;
}
button.black,
.button.black {
  background-color: #000000;
  color: #FFFFFF;
}
button.red,
.button.red {
  background-color: #F44336;
  color: #FFFFFF;
}
button.pink,
.button.pink {
  background-color: #E91E63;
  color: #FFFFFF;
}
button.purple,
.button.purple {
  background-color: #9C27B0;
  color: #FFFFFF;
}
button.deep-purple,
.button.deep-purple {
  background-color: #673AB7;
  color: #FFFFFF;
}
button.indigo,
.button.indigo {
  background-color: #3F51B5;
  color: #FFFFFF;
}
button.blue,
.button.blue {
  background-color: #2196F3;
  color: #FFFFFF;
}
button.light-blue,
.button.light-blue {
  background-color: #03A9F4;
  color: #FFFFFF;
}
button.cyan,
.button.cyan {
  background-color: #00BCD4;
  color: #FFFFFF;
}
button.teal,
.button.teal {
  background-color: #009688;
  color: #FFFFFF;
}
button.green,
.button.green {
  background-color: #4CAF50;
  color: #FFFFFF;
}
button.light-green,
.button.light-green {
  background-color: #8BC34A;
  color: #FFFFFF;
}
button.lime,
.button.lime {
  background-color: #CDDC39;
  color: #FFFFFF;
}
button.yellow,
.button.yellow {
  background-color: #FFEB3B;
  color: #FFFFFF;
}
button.amber,
.button.amber {
  background-color: #FFC107;
  color: #FFFFFF;
}
button.orange,
.button.orange {
  background-color: #FF9800;
  color: #FFFFFF;
}
button.deep-orange,
.button.deep-orange {
  background-color: #FF5722;
  color: #FFFFFF;
}
button.brown,
.button.brown {
  background-color: #795548;
  color: #FFFFFF;
}
button.gray-100,
.button.gray-100 {
  background-color: #FAFAFA;
  color: #FFFFFF;
}
button.default,
.button.default {
  background-color: #FAFAFA;
  color: #212121;
}
button.gray,
.button.gray {
  background-color: #9E9E9E;
  color: #FFFFFF;
}
button.gray-900,
.button.gray-900 {
  background-color: #212121;
  color: #FFFFFF;
}
button.blue-gray,
.button.blue-gray {
  background-color: #607D8B;
  color: #FFFFFF;
}
button.blue-gray-900,
.button.blue-gray-900 {
  background-color: #263238;
  color: #FFFFFF;
}
button.rounded,
.button.rounded {
  border-radius: 100px;
}
button:focus.white, button:hover.white,
.button:focus.white,
.button:hover.white {
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.5);
}
button:focus.black, button:hover.black,
.button:focus.black,
.button:hover.black {
  background-color: black;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(0, 0, 0, 0.5);
}
button:focus.red, button:hover.red,
.button:focus.red,
.button:hover.red {
  background-color: #ea1c0d;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(244, 67, 54, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(244, 67, 54, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(244, 67, 54, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(244, 67, 54, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(244, 67, 54, 0.5);
}
button:focus.pink, button:hover.pink,
.button:focus.pink,
.button:hover.pink {
  background-color: #c1134e;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(233, 30, 99, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(233, 30, 99, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(233, 30, 99, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(233, 30, 99, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(233, 30, 99, 0.5);
}
button:focus.purple, button:hover.purple,
.button:focus.purple,
.button:hover.purple {
  background-color: #771e86;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(156, 39, 176, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(156, 39, 176, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(156, 39, 176, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(156, 39, 176, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(156, 39, 176, 0.5);
}
button:focus.deep-purple, button:hover.deep-purple,
.button:focus.deep-purple,
.button:hover.deep-purple {
  background-color: #512e90;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(103, 58, 183, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(103, 58, 183, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(103, 58, 183, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(103, 58, 183, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(103, 58, 183, 0.5);
}
button:focus.indigo, button:hover.indigo,
.button:focus.indigo,
.button:hover.indigo {
  background-color: #32408f;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(63, 81, 181, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(63, 81, 181, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(63, 81, 181, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(63, 81, 181, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(63, 81, 181, 0.5);
}
button:focus.blue, button:hover.blue,
.button:focus.blue,
.button:hover.blue {
  background-color: #0c7cd5;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(33, 150, 243, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(33, 150, 243, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(33, 150, 243, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(33, 150, 243, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(33, 150, 243, 0.5);
}
button:focus.light-blue, button:hover.light-blue,
.button:focus.light-blue,
.button:hover.light-blue {
  background-color: #0286c2;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(3, 169, 244, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(3, 169, 244, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(3, 169, 244, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(3, 169, 244, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(3, 169, 244, 0.5);
}
button:focus.cyan, button:hover.cyan,
.button:focus.cyan,
.button:hover.cyan {
  background-color: #008fa1;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(0, 188, 212, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(0, 188, 212, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(0, 188, 212, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(0, 188, 212, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(0, 188, 212, 0.5);
}
button:focus.teal, button:hover.teal,
.button:focus.teal,
.button:hover.teal {
  background-color: #00635a;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(0, 150, 136, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(0, 150, 136, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(0, 150, 136, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(0, 150, 136, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(0, 150, 136, 0.5);
}
button:focus.green, button:hover.green,
.button:focus.green,
.button:hover.green {
  background-color: #3d8b40;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(76, 175, 80, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(76, 175, 80, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(76, 175, 80, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(76, 175, 80, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(76, 175, 80, 0.5);
}
button:focus.light-green, button:hover.light-green,
.button:focus.light-green,
.button:hover.light-green {
  background-color: #71a436;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(139, 195, 74, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(139, 195, 74, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(139, 195, 74, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(139, 195, 74, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(139, 195, 74, 0.5);
}
button:focus.lime, button:hover.lime,
.button:focus.lime,
.button:hover.lime {
  background-color: #b2c022;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(205, 220, 57, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(205, 220, 57, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(205, 220, 57, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(205, 220, 57, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(205, 220, 57, 0.5);
}
button:focus.yellow, button:hover.yellow,
.button:focus.yellow,
.button:hover.yellow {
  background-color: #ffe608;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(255, 235, 59, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(255, 235, 59, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(255, 235, 59, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(255, 235, 59, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(255, 235, 59, 0.5);
}
button:focus.amber, button:hover.amber,
.button:focus.amber,
.button:hover.amber {
  background-color: #d39e00;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(255, 193, 7, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(255, 193, 7, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(255, 193, 7, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(255, 193, 7, 0.5);
}
button:focus.orange, button:hover.orange,
.button:focus.orange,
.button:hover.orange {
  background-color: #cc7a00;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(255, 152, 0, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(255, 152, 0, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(255, 152, 0, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(255, 152, 0, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(255, 152, 0, 0.5);
}
button:focus.deep-orange, button:hover.deep-orange,
.button:focus.deep-orange,
.button:hover.deep-orange {
  background-color: #ee3900;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(255, 87, 34, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(255, 87, 34, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(255, 87, 34, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(255, 87, 34, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(255, 87, 34, 0.5);
}
button:focus.brown, button:hover.brown,
.button:focus.brown,
.button:hover.brown {
  background-color: #593f35;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(121, 85, 72, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(121, 85, 72, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(121, 85, 72, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(121, 85, 72, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(121, 85, 72, 0.5);
}
button:focus.gray-100, button:hover.gray-100,
.button:focus.gray-100,
.button:hover.gray-100 {
  background-color: #e1e1e1;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(250, 250, 250, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(250, 250, 250, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(250, 250, 250, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(250, 250, 250, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(250, 250, 250, 0.5);
}
button:focus.default, button:hover.default,
.button:focus.default,
.button:hover.default {
  background-color: #e1e1e1;
}
button:focus.gray, button:hover.gray,
.button:focus.gray,
.button:hover.gray {
  background-color: #858585;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(158, 158, 158, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(158, 158, 158, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(158, 158, 158, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(158, 158, 158, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(158, 158, 158, 0.5);
}
button:focus.gray-900, button:hover.gray-900,
.button:focus.gray-900,
.button:hover.gray-900 {
  background-color: #080808;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(33, 33, 33, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(33, 33, 33, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(33, 33, 33, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(33, 33, 33, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(33, 33, 33, 0.5);
}
button:focus.blue-gray, button:hover.blue-gray,
.button:focus.blue-gray,
.button:hover.blue-gray {
  background-color: #4b626d;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(96, 125, 139, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(96, 125, 139, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(96, 125, 139, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(96, 125, 139, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(96, 125, 139, 0.5);
}
button:focus.blue-gray-900, button:hover.blue-gray-900,
.button:focus.blue-gray-900,
.button:hover.blue-gray-900 {
  background-color: #11171a;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(38, 50, 56, 0.5);
  -moz-box-shadow: 0 0 0 0.125rem rgba(38, 50, 56, 0.5);
  -ms-box-shadow: 0 0 0 0.125rem rgba(38, 50, 56, 0.5);
  -o-box-shadow: 0 0 0 0.125rem rgba(38, 50, 56, 0.5);
  box-shadow: 0 0 0 0.125rem rgba(38, 50, 56, 0.5);
}

.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}
.buttons[data-position="center"], .buttons.center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.buttons[data-position="right"], .buttons.right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.buttons[data-position="left"], .buttons.left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}
.buttons[data-position="justify"]
.buttons.justify {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.buttons[data-position="justify"]
.buttons.justify .button {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.buttons[data-size="small"] .button {
  font-size: 0.6875rem;
  padding: 0.25rem 0.375rem 0.25rem;
  min-width: 2.1875rem;
}
.buttons[data-size="large"] .button {
  font-size: 1rem;
  padding: 0.75rem 1rem 0.75rem;
}
.buttons .button {
  border-radius: 0;
  float: left;
}
.buttons .button:first-child {
  border-radius: 3px 0 0 3px;
}
.buttons .button:last-child {
  border-radius: 0 3px 3px 0;
}
.buttons.rounded .button:first-of-type {
  border-radius: 300px 0 0 300px;
}
.buttons.rounded .button:last-of-type {
  border-radius: 0 300px 300px 0;
}

.breadcrumb {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 30px;
  padding: 0 0.5rem 0;
  background-color: #c8c8c8;
  margin: 0.9375rem 0;
  border-radius: 3px;
}
.breadcrumb[data-position="left"] {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}
.breadcrumb[data-position="center"] {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.breadcrumb[data-position="right"] {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.breadcrumb li {
  padding-left: 1.5625rem;
  position: relative;
  color: #8a969c;
}
.breadcrumb li:before {
  content: '/';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1.5625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.breadcrumb li a {
  color: #263238;
  text-decoration: none !important;
  font-size: 0.8125rem;
  font-weight: 500;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.breadcrumb li a:focus, .breadcrumb li a:hover {
  color: #009688;
}
.breadcrumb li:first-of-type {
  padding-left: 0;
}
.breadcrumb li:first-of-type:before {
  content: none;
}
.breadcrumb.inverse {
  background-color: #263238;
}
.breadcrumb.inverse li a {
  color: gainsboro;
}
.breadcrumb.inverse li a:focus, .breadcrumb.inverse li a:hover {
  color: #009688;
}

.card {
  position: relative;
  margin: 0.9375rem 0;
  background-color: #FAFAFA;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid rgba(38, 50, 56, 0.25);
}
.card .card-body {
  padding: 20px;
  position: relative;
  right: 0;
  background-color: #FFFFFF;
  -webkit-transition: right 0.25s ease;
  -moz-transition: right 0.25s ease;
  -ms-transition: right 0.25s ease;
  -o-transition: right 0.25s ease;
  transition: right 0.25s ease;
}
.card .card-body figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin-bottom: 1rem;
}
.card .card-body figure img {
  display: block;
  max-width: 70%;
}
.card .card-body figure[data-position="center"] {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.card .card-body figure[data-position="left"] {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}
.card .card-body figure[data-position="right"] {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.card .card-footer {
  padding: 10px 20px 10px;
  margin: 0;
}
.card .card-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
}
.card .card-options {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-transition: right 0.25s ease 0.125s;
  -moz-transition: right 0.25s ease 0.125s;
  -ms-transition: right 0.25s ease 0.125s;
  -o-transition: right 0.25s ease 0.125s;
  transition: right 0.25s ease 0.125s;
}
.card .card-options[data-background="white"], .card .card-options.bg-white {
  background-color: #FFFFFF;
  border-color: #d9d9d9;
}
.card .card-options[data-background="black"], .card .card-options.bg-black {
  background-color: #000000;
  border-color: black;
}
.card .card-options[data-background="red"], .card .card-options.bg-red {
  background-color: #F44336;
  border-color: #d2190b;
}
.card .card-options[data-background="pink"], .card .card-options.bg-pink {
  background-color: #E91E63;
  border-color: #aa1145;
}
.card .card-options[data-background="purple"], .card .card-options.bg-purple {
  background-color: #9C27B0;
  border-color: #641971;
}
.card .card-options[data-background="deep-purple"], .card .card-options.bg-deep-purple {
  background-color: #673AB7;
  border-color: #46287d;
}
.card .card-options[data-background="indigo"], .card .card-options.bg-indigo {
  background-color: #3F51B5;
  border-color: #2b387c;
}
.card .card-options[data-background="blue"], .card .card-options.bg-blue {
  background-color: #2196F3;
  border-color: #0a6ebd;
}
.card .card-options[data-background="light-blue"], .card .card-options.bg-light-blue {
  background-color: #03A9F4;
  border-color: #0275a8;
}
.card .card-options[data-background="cyan"], .card .card-options.bg-cyan {
  background-color: #00BCD4;
  border-color: #007888;
}
.card .card-options[data-background="teal"], .card .card-options.bg-teal {
  background-color: #009688;
  border-color: #004a43;
}
.card .card-options[data-background="green"], .card .card-options.bg-green {
  background-color: #4CAF50;
  border-color: #357a38;
}
.card .card-options[data-background="light-green"], .card .card-options.bg-light-green {
  background-color: #8BC34A;
  border-color: #649130;
}
.card .card-options[data-background="lime"], .card .card-options.bg-lime {
  background-color: #CDDC39;
  border-color: #9daa1e;
}
.card .card-options[data-background="yellow"], .card .card-options.bg-yellow {
  background-color: #FFEB3B;
  border-color: #eed500;
}
.card .card-options[data-background="amber"], .card .card-options.bg-amber {
  background-color: #FFC107;
  border-color: #b98b00;
}
.card .card-options[data-background="orange"], .card .card-options.bg-orange {
  background-color: #FF9800;
  border-color: #b36a00;
}
.card .card-options[data-background="deep-orange"], .card .card-options.bg-deep-orange {
  background-color: #FF5722;
  border-color: #d43300;
}
.card .card-options[data-background="brown"], .card .card-options.bg-brown {
  background-color: #795548;
  border-color: #49332b;
}
.card .card-options[data-background="gray-100"], .card .card-options.bg-gray-100 {
  background-color: #FAFAFA;
  border-color: #d4d4d4;
}
.card .card-options[data-background="gray"], .card .card-options.bg-gray {
  background-color: #9E9E9E;
  border-color: #787878;
}
.card .card-options[data-background="gray-900"], .card .card-options.bg-gray-900 {
  background-color: #212121;
  border-color: black;
}
.card .card-options[data-background="blue-gray"], .card .card-options.bg-blue-gray {
  background-color: #607D8B;
  border-color: #41545e;
}
.card .card-options[data-background="blue-gray-900"], .card .card-options.bg-blue-gray-900 {
  background-color: #263238;
  border-color: #07090a;
}
.card .card-options ul {
  height: 100%;
  width: 100%;
  list-style: none;
  overflow: auto;
}
.card .card-options ul li {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.card .card-options ul li a {
  padding: 20px 10px 20px;
  display: block;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 1rem;
  color: #FFFFFF;
  text-decoration: none !important;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.card .card-options ul li a:focus, .card .card-options ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.card .card-options ul li:last-child {
  border-bottom: none;
}
.card .card-header {
  position: relative;
  padding: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin: -1px;
  right: 0;
  -webkit-transition: right 0.25s ease;
  -moz-transition: right 0.25s ease;
  -ms-transition: right 0.25s ease;
  -o-transition: right 0.25s ease;
  transition: right 0.25s ease;
}
.card .card-header[data-background="true"] {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card .card-header[data-background="white"], .card .card-header.bg-white {
  background-color: #FFFFFF;
  border-color: #d9d9d9;
}
.card .card-header[data-background="black"], .card .card-header.bg-black {
  background-color: #000000;
  border-color: black;
}
.card .card-header[data-background="red"], .card .card-header.bg-red {
  background-color: #F44336;
  border-color: #d2190b;
}
.card .card-header[data-background="pink"], .card .card-header.bg-pink {
  background-color: #E91E63;
  border-color: #aa1145;
}
.card .card-header[data-background="purple"], .card .card-header.bg-purple {
  background-color: #9C27B0;
  border-color: #641971;
}
.card .card-header[data-background="deep-purple"], .card .card-header.bg-deep-purple {
  background-color: #673AB7;
  border-color: #46287d;
}
.card .card-header[data-background="indigo"], .card .card-header.bg-indigo {
  background-color: #3F51B5;
  border-color: #2b387c;
}
.card .card-header[data-background="blue"], .card .card-header.bg-blue {
  background-color: #2196F3;
  border-color: #0a6ebd;
}
.card .card-header[data-background="light-blue"], .card .card-header.bg-light-blue {
  background-color: #03A9F4;
  border-color: #0275a8;
}
.card .card-header[data-background="cyan"], .card .card-header.bg-cyan {
  background-color: #00BCD4;
  border-color: #007888;
}
.card .card-header[data-background="teal"], .card .card-header.bg-teal {
  background-color: #009688;
  border-color: #004a43;
}
.card .card-header[data-background="green"], .card .card-header.bg-green {
  background-color: #4CAF50;
  border-color: #357a38;
}
.card .card-header[data-background="light-green"], .card .card-header.bg-light-green {
  background-color: #8BC34A;
  border-color: #649130;
}
.card .card-header[data-background="lime"], .card .card-header.bg-lime {
  background-color: #CDDC39;
  border-color: #9daa1e;
}
.card .card-header[data-background="yellow"], .card .card-header.bg-yellow {
  background-color: #FFEB3B;
  border-color: #eed500;
}
.card .card-header[data-background="amber"], .card .card-header.bg-amber {
  background-color: #FFC107;
  border-color: #b98b00;
}
.card .card-header[data-background="orange"], .card .card-header.bg-orange {
  background-color: #FF9800;
  border-color: #b36a00;
}
.card .card-header[data-background="deep-orange"], .card .card-header.bg-deep-orange {
  background-color: #FF5722;
  border-color: #d43300;
}
.card .card-header[data-background="brown"], .card .card-header.bg-brown {
  background-color: #795548;
  border-color: #49332b;
}
.card .card-header[data-background="gray-100"], .card .card-header.bg-gray-100 {
  background-color: #FAFAFA;
  border-color: #d4d4d4;
}
.card .card-header[data-background="gray"], .card .card-header.bg-gray {
  background-color: #9E9E9E;
  border-color: #787878;
}
.card .card-header[data-background="gray-900"], .card .card-header.bg-gray-900 {
  background-color: #212121;
  border-color: black;
}
.card .card-header[data-background="blue-gray"], .card .card-header.bg-blue-gray {
  background-color: #607D8B;
  border-color: #41545e;
}
.card .card-header[data-background="blue-gray-900"], .card .card-header.bg-blue-gray-900 {
  background-color: #263238;
  border-color: #07090a;
}
.card .card-header[data-size="small"] {
  height: 100px;
}
.card .card-header[data-size="regular"] {
  height: 200px;
}
.card .card-header[data-size="big"] {
  height: 400px;
}
.card .card-header[data-text-position="center"] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.card .card-header[data-text-position="top"] {
  -webkit-box-align: top;
  -ms-flex-align: top;
  -webkit-align-items: top;
  -moz-align-items: top;
  align-items: top;
}
.card .card-header[data-text-position="bottom"] {
  -webkit-box-align: bottom;
  -ms-flex-align: bottom;
  -webkit-align-items: bottom;
  -moz-align-items: bottom;
  align-items: bottom;
}
.card .card-header[data-text-position="right"] {
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  -webkit-justify-content: right;
  -moz-justify-content: right;
  justify-content: right;
}
.card .card-header[data-text-position="left"] {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  -webkit-justify-content: left;
  -moz-justify-content: left;
  justify-content: left;
}
.card .card-header[data-background], .card .card-header[class*="bg-"] {
  color: #FFFFFF;
}
.card .card-header .card-title {
  margin: 0;
  text-transform: none;
}
.card.active .card-header,
.card.active .card-body {
  right: 50%;
}

.group {
  position: relative;
}

.input {
  display: block;
  height: 34px;
  padding: 0 10px;
  max-width: 100%;
  width: 100%;
  outline: none !important;
  border-radius: 3px;
  border: 1px solid #9E9E9E;
  margin-bottom: 20px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.input:focus {
  border-color: #212121;
}

.dropup {
  z-index: 2100;
}
.dropup.fixed {
  position: fixed;
}
.dropup.relative {
  position: relative;
}
.dropup.absolute {
  position: absolute;
}
.dropup[data-position="top-right"] {
  top: 20px;
  right: 20px;
}
.dropup[data-position="top-right"] .dropup-content {
  top: 100%;
  right: 0;
  border-top-right-radius: 0;
}
.dropup[data-position="top-right"].active > a {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.dropup[data-position="top-left"] {
  top: 20px;
  left: 20px;
}
.dropup[data-position="top-left"] .dropup-content {
  top: 100%;
  left: 0;
  border-top-left-radius: 0;
}
.dropup[data-position="top-left"].active > a {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.dropup[data-position="bottom-right"] {
  bottom: 20px;
  right: 20px;
}
.dropup[data-position="bottom-right"] .dropup-content {
  bottom: 100%;
  right: 0;
  border-bottom-right-radius: 0;
}
.dropup[data-position="bottom-right"].active > a {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.dropup[data-position="bottom-left"] {
  bottom: 20px;
  left: 20px;
}
.dropup[data-position="bottom-left"] .dropup-content {
  bottom: 100%;
  left: 0;
  border-bottom-left-radius: 0;
}
.dropup[data-position="bottom-left"].active > a {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.dropup > a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  color: #FFFFFF;
  text-decoration: none !important;
}
.dropup > a.circle {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  padding: 0;
}
.dropup .dropup-content {
  position: absolute;
  height: 0;
  width: 100%;
  min-width: 150px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 100%;
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.dropup .dropup-content li a {
  padding: 10px 20px 10px;
  display: block;
  color: #FFFFFF;
  font-size: 0.875rem;
  text-decoration: none !important;
  position: relative;
}
.dropup .dropup-content li a:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  height: 1px;
  width: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.dropup .dropup-content li:last-of-type a:after {
  content: none;
}
.dropup .dropup-content, .dropup .dropup-content li a, .dropup > a {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.dropup.bg-white > a {
  background-color: #FFFFFF;
}
.dropup.bg-white .dropup-content li a, .dropup.bg-white.active > a {
  background-color: #f2f2f2;
}
.dropup.bg-black > a {
  background-color: #000000;
}
.dropup.bg-black .dropup-content li a, .dropup.bg-black.active > a {
  background-color: black;
}
.dropup.bg-red > a {
  background-color: #F44336;
}
.dropup.bg-red .dropup-content li a, .dropup.bg-red.active > a {
  background-color: #f32c1e;
}
.dropup.bg-pink > a {
  background-color: #E91E63;
}
.dropup.bg-pink .dropup-content li a, .dropup.bg-pink.active > a {
  background-color: #d81557;
}
.dropup.bg-purple > a {
  background-color: #9C27B0;
}
.dropup.bg-purple .dropup-content li a, .dropup.bg-purple.active > a {
  background-color: #89229b;
}
.dropup.bg-deep-purple > a {
  background-color: #673AB7;
}
.dropup.bg-deep-purple .dropup-content li a, .dropup.bg-deep-purple.active > a {
  background-color: #5c34a4;
}
.dropup.bg-indigo > a {
  background-color: #3F51B5;
}
.dropup.bg-indigo .dropup-content li a, .dropup.bg-indigo.active > a {
  background-color: #3849a2;
}
.dropup.bg-blue > a {
  background-color: #2196F3;
}
.dropup.bg-blue .dropup-content li a, .dropup.bg-blue.active > a {
  background-color: #0d8aee;
}
.dropup.bg-light-blue > a {
  background-color: #03A9F4;
}
.dropup.bg-light-blue .dropup-content li a, .dropup.bg-light-blue.active > a {
  background-color: #0398db;
}
.dropup.bg-cyan > a {
  background-color: #00BCD4;
}
.dropup.bg-cyan .dropup-content li a, .dropup.bg-cyan.active > a {
  background-color: #00a5bb;
}
.dropup.bg-teal > a {
  background-color: #009688;
}
.dropup.bg-teal .dropup-content li a, .dropup.bg-teal.active > a {
  background-color: #007d71;
}
.dropup.bg-green > a {
  background-color: #4CAF50;
}
.dropup.bg-green .dropup-content li a, .dropup.bg-green.active > a {
  background-color: #449d48;
}
.dropup.bg-light-green > a {
  background-color: #8BC34A;
}
.dropup.bg-light-green .dropup-content li a, .dropup.bg-light-green.active > a {
  background-color: #7eb73d;
}
.dropup.bg-lime > a {
  background-color: #CDDC39;
}
.dropup.bg-lime .dropup-content li a, .dropup.bg-lime.active > a {
  background-color: #c6d626;
}
.dropup.bg-yellow > a {
  background-color: #FFEB3B;
}
.dropup.bg-yellow .dropup-content li a, .dropup.bg-yellow.active > a {
  background-color: #ffe821;
}
.dropup.bg-amber > a {
  background-color: #FFC107;
}
.dropup.bg-amber .dropup-content li a, .dropup.bg-amber.active > a {
  background-color: #ecb100;
}
.dropup.bg-orange > a {
  background-color: #FF9800;
}
.dropup.bg-orange .dropup-content li a, .dropup.bg-orange.active > a {
  background-color: #e68900;
}
.dropup.bg-deep-orange > a {
  background-color: #FF5722;
}
.dropup.bg-deep-orange .dropup-content li a, .dropup.bg-deep-orange.active > a {
  background-color: #ff4408;
}
.dropup.bg-brown > a {
  background-color: #795548;
}
.dropup.bg-brown .dropup-content li a, .dropup.bg-brown.active > a {
  background-color: #694a3e;
}
.dropup.bg-gray-100 > a {
  background-color: #FAFAFA;
}
.dropup.bg-gray-100 .dropup-content li a, .dropup.bg-gray-100.active > a {
  background-color: #ededed;
}
.dropup.bg-gray > a {
  background-color: #9E9E9E;
}
.dropup.bg-gray .dropup-content li a, .dropup.bg-gray.active > a {
  background-color: #919191;
}
.dropup.bg-gray-900 > a {
  background-color: #212121;
}
.dropup.bg-gray-900 .dropup-content li a, .dropup.bg-gray-900.active > a {
  background-color: #141414;
}
.dropup.bg-blue-gray > a {
  background-color: #607D8B;
}
.dropup.bg-blue-gray .dropup-content li a, .dropup.bg-blue-gray.active > a {
  background-color: #566f7c;
}
.dropup.bg-blue-gray-900 > a {
  background-color: #263238;
}
.dropup.bg-blue-gray-900 .dropup-content li a, .dropup.bg-blue-gray-900.active > a {
  background-color: #1c2429;
}

body.loading {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
  position: relative;
}
body.loading main,
body.loading aside,
body.loading footer,
body.loading menu,
body.loading nav {
  opacity: 0;
}

table, [data-form="true"] {
  border-collapse: collapse;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  background-color: #FAFAFA;
  color: #263238;
  display: table;
}
.table tr, .table .tr {
  -webkit-transition: all 0.05s ease;
  -moz-transition: all 0.05s ease;
  -ms-transition: all 0.05s ease;
  -o-transition: all 0.05s ease;
  transition: all 0.05s ease;
}
.table td, .table th, .table .td, .table .th {
  padding: 0.75rem;
  vertical-align: top;
  text-align: center;
}
.table thead th, .table thead .th, .table .thead th, .table .thead .th {
  vertical-align: bottom;
  border-top: none;
}
.table table td, .table table .td, .table [data-form="true"] td, .table [data-form="true"] .td {
  border-top: none !important;
}
.table[data-form="true"] .thead,
.table[data-form="true"] .tbody {
  display: table-row-group;
}
.table[data-form="true"] .thead .tr,
.table[data-form="true"] .tbody .tr {
  display: table-row;
}
.table[data-form="true"] .thead .tr .th, .table[data-form="true"] .thead .tr .td,
.table[data-form="true"] .tbody .tr .th,
.table[data-form="true"] .tbody .tr .td {
  display: table-cell;
}
.table[data-form="true"] .thead .tr.table-form,
.table[data-form="true"] .tbody .tr.table-form {
  display: block;
}
.table[data-form="true"] .thead .tr.table-form .th, .table[data-form="true"] .thead .tr.table-form .td,
.table[data-form="true"] .tbody .tr.table-form .th,
.table[data-form="true"] .tbody .tr.table-form .td {
  display: block;
}
.table td, .table th, .table .td, .table .tr {
  border-top: 1px solid #969696;
}
.table thead th,
.table thead .th,
.table .thead th,
.table .thead .th {
  border-bottom: 2px solid #969696;
}
.table tbody + tbody, .table tbody .tbody, .table .tbody + tbody, .table .tbody .tbody {
  border-top: 2px solid #969696;
}
.table .table {
  background-color: #FAFAFA;
}
.table[data-style="striped"] thead th, .table[data-style="striped"] thead .th, .table[data-style="striped"] .thead th, .table[data-style="striped"] .thead .th {
  background-color: rgba(158, 158, 158, 0.5);
}
.table[data-style="striped"] tbody tr:nth-of-type(odd), .table[data-style="striped"] tbody .tr:nth-of-type(odd), .table[data-style="striped"] .tbody tr:nth-of-type(odd), .table[data-style="striped"] .tbody .tr:nth-of-type(odd) {
  background-color: rgba(158, 158, 158, 0.25);
}
.table[data-style="striped-hover"] thead th, .table[data-style="striped-hover"] thead .th, .table[data-style="striped-hover"] .thead th, .table[data-style="striped-hover"] .thead .th, .table[data-style="hover-striped"] thead th, .table[data-style="hover-striped"] thead .th, .table[data-style="hover-striped"] .thead th, .table[data-style="hover-striped"] .thead .th {
  background-color: rgba(158, 158, 158, 0.5);
}
.table[data-style="striped-hover"] tbody tr:nth-of-type(odd), .table[data-style="striped-hover"] tbody .tr:nth-of-type(odd), .table[data-style="striped-hover"] .tbody tr:nth-of-type(odd), .table[data-style="striped-hover"] .tbody .tr:nth-of-type(odd), .table[data-style="hover-striped"] tbody tr:nth-of-type(odd), .table[data-style="hover-striped"] tbody .tr:nth-of-type(odd), .table[data-style="hover-striped"] .tbody tr:nth-of-type(odd), .table[data-style="hover-striped"] .tbody .tr:nth-of-type(odd) {
  background-color: rgba(158, 158, 158, 0.25);
}
.table[data-style="striped-hover"] tbody tr:focus, .table[data-style="striped-hover"] tbody tr:hover, .table[data-style="striped-hover"] tbody .tr:focus, .table[data-style="striped-hover"] tbody .tr:hover, .table[data-style="striped-hover"] .tbody tr:focus, .table[data-style="striped-hover"] .tbody tr:hover, .table[data-style="striped-hover"] .tbody .tr:focus, .table[data-style="striped-hover"] .tbody .tr:hover, .table[data-style="hover-striped"] tbody tr:focus, .table[data-style="hover-striped"] tbody tr:hover, .table[data-style="hover-striped"] tbody .tr:focus, .table[data-style="hover-striped"] tbody .tr:hover, .table[data-style="hover-striped"] .tbody tr:focus, .table[data-style="hover-striped"] .tbody tr:hover, .table[data-style="hover-striped"] .tbody .tr:focus, .table[data-style="hover-striped"] .tbody .tr:hover {
  background-color: rgba(158, 158, 158, 0.35);
}
.table[data-style="hover"] tbody tr:focus, .table[data-style="hover"] tbody tr:hover, .table[data-style="hover"] tbody .tr:focus, .table[data-style="hover"] tbody .tr:hover, .table[data-style="hover"] .tbody tr:focus, .table[data-style="hover"] .tbody tr:hover, .table[data-style="hover"] .tbody .tr:focus, .table[data-style="hover"] .tbody .tr:hover {
  background-color: rgba(158, 158, 158, 0.1);
}
.table.inverse {
  background-color: #263238;
  color: #FFFFFF;
  display: table;
}
.table.inverse td, .table.inverse th, .table.inverse .td, .table.inverse .tr {
  border-top: 1px solid black;
}
.table.inverse thead th,
.table.inverse thead .th,
.table.inverse .thead th,
.table.inverse .thead .th {
  border-bottom: 2px solid black;
}
.table.inverse tbody + tbody, .table.inverse tbody .tbody, .table.inverse .tbody + tbody, .table.inverse .tbody .tbody {
  border-top: 2px solid black;
}
.table.inverse .table {
  background-color: #263238;
}
.table.inverse[data-style="striped"] thead th, .table.inverse[data-style="striped"] thead .th, .table.inverse[data-style="striped"] .thead th, .table.inverse[data-style="striped"] .thead .th {
  background-color: rgba(0, 0, 0, 0.5);
}
.table.inverse[data-style="striped"] tbody tr:nth-of-type(odd), .table.inverse[data-style="striped"] tbody .tr:nth-of-type(odd), .table.inverse[data-style="striped"] .tbody tr:nth-of-type(odd), .table.inverse[data-style="striped"] .tbody .tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.25);
}
.table.inverse[data-style="striped-hover"] thead th, .table.inverse[data-style="striped-hover"] thead .th, .table.inverse[data-style="striped-hover"] .thead th, .table.inverse[data-style="striped-hover"] .thead .th, .table.inverse[data-style="hover-striped"] thead th, .table.inverse[data-style="hover-striped"] thead .th, .table.inverse[data-style="hover-striped"] .thead th, .table.inverse[data-style="hover-striped"] .thead .th {
  background-color: rgba(0, 0, 0, 0.5);
}
.table.inverse[data-style="striped-hover"] tbody tr:nth-of-type(odd), .table.inverse[data-style="striped-hover"] tbody .tr:nth-of-type(odd), .table.inverse[data-style="striped-hover"] .tbody tr:nth-of-type(odd), .table.inverse[data-style="striped-hover"] .tbody .tr:nth-of-type(odd), .table.inverse[data-style="hover-striped"] tbody tr:nth-of-type(odd), .table.inverse[data-style="hover-striped"] tbody .tr:nth-of-type(odd), .table.inverse[data-style="hover-striped"] .tbody tr:nth-of-type(odd), .table.inverse[data-style="hover-striped"] .tbody .tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.25);
}
.table.inverse[data-style="striped-hover"] tbody tr:focus, .table.inverse[data-style="striped-hover"] tbody tr:hover, .table.inverse[data-style="striped-hover"] tbody .tr:focus, .table.inverse[data-style="striped-hover"] tbody .tr:hover, .table.inverse[data-style="striped-hover"] .tbody tr:focus, .table.inverse[data-style="striped-hover"] .tbody tr:hover, .table.inverse[data-style="striped-hover"] .tbody .tr:focus, .table.inverse[data-style="striped-hover"] .tbody .tr:hover, .table.inverse[data-style="hover-striped"] tbody tr:focus, .table.inverse[data-style="hover-striped"] tbody tr:hover, .table.inverse[data-style="hover-striped"] tbody .tr:focus, .table.inverse[data-style="hover-striped"] tbody .tr:hover, .table.inverse[data-style="hover-striped"] .tbody tr:focus, .table.inverse[data-style="hover-striped"] .tbody tr:hover, .table.inverse[data-style="hover-striped"] .tbody .tr:focus, .table.inverse[data-style="hover-striped"] .tbody .tr:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
.table.inverse[data-style="hover"] tbody tr:focus, .table.inverse[data-style="hover"] tbody tr:hover, .table.inverse[data-style="hover"] tbody .tr:focus, .table.inverse[data-style="hover"] tbody .tr:hover, .table.inverse[data-style="hover"] .tbody tr:focus, .table.inverse[data-style="hover"] .tbody tr:hover, .table.inverse[data-style="hover"] .tbody .tr:focus, .table.inverse[data-style="hover"] .tbody .tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

html, body {
  position: relative;
  z-index: 1;
  padding-bottom: 1.25rem;
}

main {
  position: relative;
  width: calc(100% - 270px - 20px * 2);
  left: 290px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #FAFAFA;
  margin-top: 100px;
  border: 2px solid whitesmoke;
  border-radius: 6px;
}

.side-nav > ul > li a {
  border-bottom: none !important;
  padding: 20px;
}
.side-nav > ul > li:nth-child(-1) a {
  border-left: 0.3125rem solid #FFFFFF;
}
.side-nav > ul > li:nth-child(-1) a:focus, .side-nav > ul > li:nth-child(-1) a:hover {
  border-left-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(0) a {
  border-left: 0.3125rem solid #000000;
}
.side-nav > ul > li:nth-child(0) a:focus, .side-nav > ul > li:nth-child(0) a:hover {
  border-left-color: rgba(0, 0, 0, 0.5);
  color: #000000;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(1) a {
  border-left: 0.3125rem solid #F44336;
}
.side-nav > ul > li:nth-child(1) a:focus, .side-nav > ul > li:nth-child(1) a:hover {
  border-left-color: rgba(244, 67, 54, 0.5);
  color: #F44336;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(2) a {
  border-left: 0.3125rem solid #E91E63;
}
.side-nav > ul > li:nth-child(2) a:focus, .side-nav > ul > li:nth-child(2) a:hover {
  border-left-color: rgba(233, 30, 99, 0.5);
  color: #E91E63;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(3) a {
  border-left: 0.3125rem solid #9C27B0;
}
.side-nav > ul > li:nth-child(3) a:focus, .side-nav > ul > li:nth-child(3) a:hover {
  border-left-color: rgba(156, 39, 176, 0.5);
  color: #9C27B0;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(4) a {
  border-left: 0.3125rem solid #673AB7;
}
.side-nav > ul > li:nth-child(4) a:focus, .side-nav > ul > li:nth-child(4) a:hover {
  border-left-color: rgba(103, 58, 183, 0.5);
  color: #673AB7;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(5) a {
  border-left: 0.3125rem solid #3F51B5;
}
.side-nav > ul > li:nth-child(5) a:focus, .side-nav > ul > li:nth-child(5) a:hover {
  border-left-color: rgba(63, 81, 181, 0.5);
  color: #3F51B5;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(6) a {
  border-left: 0.3125rem solid #2196F3;
}
.side-nav > ul > li:nth-child(6) a:focus, .side-nav > ul > li:nth-child(6) a:hover {
  border-left-color: rgba(33, 150, 243, 0.5);
  color: #2196F3;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(7) a {
  border-left: 0.3125rem solid #03A9F4;
}
.side-nav > ul > li:nth-child(7) a:focus, .side-nav > ul > li:nth-child(7) a:hover {
  border-left-color: rgba(3, 169, 244, 0.5);
  color: #03A9F4;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(8) a {
  border-left: 0.3125rem solid #00BCD4;
}
.side-nav > ul > li:nth-child(8) a:focus, .side-nav > ul > li:nth-child(8) a:hover {
  border-left-color: rgba(0, 188, 212, 0.5);
  color: #00BCD4;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(9) a {
  border-left: 0.3125rem solid #009688;
}
.side-nav > ul > li:nth-child(9) a:focus, .side-nav > ul > li:nth-child(9) a:hover {
  border-left-color: rgba(0, 150, 136, 0.5);
  color: #009688;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(10) a {
  border-left: 0.3125rem solid #4CAF50;
}
.side-nav > ul > li:nth-child(10) a:focus, .side-nav > ul > li:nth-child(10) a:hover {
  border-left-color: rgba(76, 175, 80, 0.5);
  color: #4CAF50;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(11) a {
  border-left: 0.3125rem solid #8BC34A;
}
.side-nav > ul > li:nth-child(11) a:focus, .side-nav > ul > li:nth-child(11) a:hover {
  border-left-color: rgba(139, 195, 74, 0.5);
  color: #8BC34A;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(12) a {
  border-left: 0.3125rem solid #CDDC39;
}
.side-nav > ul > li:nth-child(12) a:focus, .side-nav > ul > li:nth-child(12) a:hover {
  border-left-color: rgba(205, 220, 57, 0.5);
  color: #CDDC39;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(13) a {
  border-left: 0.3125rem solid #FFEB3B;
}
.side-nav > ul > li:nth-child(13) a:focus, .side-nav > ul > li:nth-child(13) a:hover {
  border-left-color: rgba(255, 235, 59, 0.5);
  color: #FFEB3B;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(14) a {
  border-left: 0.3125rem solid #FFC107;
}
.side-nav > ul > li:nth-child(14) a:focus, .side-nav > ul > li:nth-child(14) a:hover {
  border-left-color: rgba(255, 193, 7, 0.5);
  color: #FFC107;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(15) a {
  border-left: 0.3125rem solid #FF9800;
}
.side-nav > ul > li:nth-child(15) a:focus, .side-nav > ul > li:nth-child(15) a:hover {
  border-left-color: rgba(255, 152, 0, 0.5);
  color: #FF9800;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(16) a {
  border-left: 0.3125rem solid #FF5722;
}
.side-nav > ul > li:nth-child(16) a:focus, .side-nav > ul > li:nth-child(16) a:hover {
  border-left-color: rgba(255, 87, 34, 0.5);
  color: #FF5722;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(17) a {
  border-left: 0.3125rem solid #795548;
}
.side-nav > ul > li:nth-child(17) a:focus, .side-nav > ul > li:nth-child(17) a:hover {
  border-left-color: rgba(121, 85, 72, 0.5);
  color: #795548;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(18) a {
  border-left: 0.3125rem solid #FAFAFA;
}
.side-nav > ul > li:nth-child(18) a:focus, .side-nav > ul > li:nth-child(18) a:hover {
  border-left-color: rgba(250, 250, 250, 0.5);
  color: #FAFAFA;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(19) a {
  border-left: 0.3125rem solid #9E9E9E;
}
.side-nav > ul > li:nth-child(19) a:focus, .side-nav > ul > li:nth-child(19) a:hover {
  border-left-color: rgba(158, 158, 158, 0.5);
  color: #9E9E9E;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(20) a {
  border-left: 0.3125rem solid #212121;
}
.side-nav > ul > li:nth-child(20) a:focus, .side-nav > ul > li:nth-child(20) a:hover {
  border-left-color: rgba(33, 33, 33, 0.5);
  color: #212121;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(21) a {
  border-left: 0.3125rem solid #607D8B;
}
.side-nav > ul > li:nth-child(21) a:focus, .side-nav > ul > li:nth-child(21) a:hover {
  border-left-color: rgba(96, 125, 139, 0.5);
  color: #607D8B;
  background-color: #FFFFFF;
}
.side-nav > ul > li:nth-child(22) a {
  border-left: 0.3125rem solid #263238;
}
.side-nav > ul > li:nth-child(22) a:focus, .side-nav > ul > li:nth-child(22) a:hover {
  border-left-color: rgba(38, 50, 56, 0.5);
  color: #263238;
  background-color: #FFFFFF;
}

.table thead tr th, .table thead tr td, .table thead tr .th, .table thead tr .td, .table thead .tr th, .table thead .tr td, .table thead .tr .th, .table thead .tr .td, .table tbody tr th, .table tbody tr td, .table tbody tr .th, .table tbody tr .td, .table tbody .tr th, .table tbody .tr td, .table tbody .tr .th, .table tbody .tr .td, .table .thead tr th, .table .thead tr td, .table .thead tr .th, .table .thead tr .td, .table .thead .tr th, .table .thead .tr td, .table .thead .tr .th, .table .thead .tr .td, .table .tbody tr th, .table .tbody tr td, .table .tbody tr .th, .table .tbody tr .td, .table .tbody .tr th, .table .tbody .tr td, .table .tbody .tr .th, .table .tbody .tr .td {
  text-align: left;
  width: auto;
}

footer {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 270px;
  z-index: -1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-top: 2px solid #E91E63;
  background-color: #263238;
}
footer p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  margin: 0;
  font-size: 1rem;
}

.grid-layout .column p {
  font-weight: bold;
  color: #263238;
  padding: 0.75rem;
  text-align: center;
  border-radius: 4px;
  background-color: #afafaf;
}

nav.main-nav .container {
  padding-left: 0;
}
nav.main-nav ul li a {
  font-size: 1rem;
}
nav .brand {
  background-color: white;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 270px;
  padding: 0;
  position: relative;
}
nav .brand h3 {
  color: #FFFFFF !important;
}
nav .brand h3 a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  text-decoration: none !important;
  color: #263238;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 700;
}
nav .brand h3 a img {
  height: 30px;
  width: 30px;
}
nav .brand a.open-menu {
  background-color: #FFFFFF;
  color: #F44336;
  border: 2px solid rgba(0, 0, 0, 0.03);
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: -25px;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/*# sourceMappingURL=main.css.map */
