

@import "core/settings";
@import "core/flexbox";
@import "core/mixins";

@import "layout/body";


.b-table{

    .b-row{

        .b-row-content{
            padding: 0 20px 0 0;
            @include flexbox;
            @include justify-content(flex-start);
            @include align-items(center);

            height: 50px;

            background: $gray-100;
            border-bottom: 2px solid darken($gray-100, 2%);

            .b-title,
            .b-text,
            .b-info,
            .b-options{
                position: relative;
                padding: 0 30px;

                &:after{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: -10px;
                    bottom: -10px;

                    background-color: darken($gray-100, 5%);
                    width: 1px;
                }
            }

            .b-link{
                a{
                    @include flexbox;
                    @include justify-content(center);
                    @include align-items(center);

                    text-decoration: none!important;
                    color: $gray-900;
                    height: 50px;
                    width: 50px;
                    background-color: darken($gray-100, 2%);
                }
            } // end [ B-LINK ]

            .b-title{
                @include flexbox;
                @include justify-content(flex-start);
                @include align-items(center);

                width: 200px;

                .b-icon{
                    margin-right: 5px;
                }
            } // end [ B-TITLE ]

            .b-text{
                @include flex-grow(1);
            } // end [ B-TEXT ]

            .b-info{
                @include flex-grow(1);
            } // end [ B-INFO ]

            .b-options{
                width: 100px;
            } // end: [ B-OPTIONS ];
        } // end [ B-ROW-CONTENT ]

        .b-expanded-content{
            position: relative;

            height: 0;
            width: 100%;
            background-color: darken($gray-100, 5%);

            overflow: hidden;

            div{
                .b-row{
                    padding-left: 50px;
                }
            }

            &.active{
                height: auto;
            }
        } // end [ B-EXPANDED-CONTENT ]

    } // end [ B-ROW ]
} // end: [ B-TABLE ];
