* {
  margin: 0;
  padding: 0; }

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: ks-regular, sans-serif;
  font-size: 14px; }

.b-table .b-row .b-row-content {
  padding: 0 20px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 50px;
  background: #FAFAFA;
  border-bottom: 2px solid whitesmoke; }
  .b-table .b-row .b-row-content .b-title,
  .b-table .b-row .b-row-content .b-text,
  .b-table .b-row .b-row-content .b-info,
  .b-table .b-row .b-row-content .b-options {
    position: relative;
    padding: 0 30px; }
    .b-table .b-row .b-row-content .b-title:after,
    .b-table .b-row .b-row-content .b-text:after,
    .b-table .b-row .b-row-content .b-info:after,
    .b-table .b-row .b-row-content .b-options:after {
      content: '';
      position: absolute;
      right: 0;
      top: -10px;
      bottom: -10px;
      background-color: #ededed;
      width: 1px; }
  .b-table .b-row .b-row-content .b-link a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    text-decoration: none !important;
    color: #212121;
    height: 50px;
    width: 50px;
    background-color: whitesmoke; }
  .b-table .b-row .b-row-content .b-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 200px; }
    .b-table .b-row .b-row-content .b-title .b-icon {
      margin-right: 5px; }
  .b-table .b-row .b-row-content .b-text {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .b-table .b-row .b-row-content .b-info {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .b-table .b-row .b-row-content .b-options {
    width: 100px; }
.b-table .b-row .b-expanded-content {
  position: relative;
  height: 0;
  width: 100%;
  background-color: #ededed;
  overflow: hidden; }
  .b-table .b-row .b-expanded-content div .b-row {
    padding-left: 50px; }
  .b-table .b-row .b-expanded-content.active {
    height: auto; }

/*# sourceMappingURL=main.css.map */
